html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.container {
    background-color: rgba(192, 49, 49, 0.661);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.registration-form {
    width: 450px;
    padding: 60px;
    background-color: rgba(255, 0, 0, 0.4); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

.form-group label {
    font-weight: normal;
}

.gender-options {
    display: flex;
    flex-direction: row;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.register-button {
    display: block;
    width: 105%;
    padding: 10px;
    background-color: #fff; 
    color: #000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #ddd; 
}
